services:
  mysql:
    image: mysql:9.5.0
    environment:
      MYSQL_DATABASE: ka_ching
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"