spring:
  threads:
    virtual:
      enabled: true

  mvc:
    async:
      request-timeout: 240000

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

app:
  api-key: ${MY_API_KEY}
  api-key-fallback: ${MY_API_KEY_FALLBACK:}
  external-api-base-url: ${MY_EXTERNAL_API_URL}
  rates-api-key: ${CRON_API_KEY}
