spring:
  threads:
    virtual:
      enabled: true
  mvc:
    async:
      request-timeout: 240000
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

app:
  API_KEY: "${MY_API_KEY}"
  API_KEY_FALLBACK: "${MY_API_KEY_FALLBACK:}"
  EXTERNAL_API_BASE_URL: "${MY_EXTERNAL_API_URL}"
  CRON_API_KEY: "${CRON_API_KEY}"